 header {
            background-color: white;
            color: black;
            padding-top: 15px;
            padding-bottom: 4px;
            margin-top: -50px;
            font-size: 16px;
            font-family: ubuntu;
            /*height: 110px;*/
            margin-bottom: 10px;
        }

        .navbar-inverse {
        background-color: #fff;
        border-color: #fff;
}
        #nav.affix {
            position: fixed;
            top: 0;
            width: 100%;
            /*z-index: 10;*/
            opacity: 0.98;
            z-index: 10000;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 35px 2px;
            transition: all 0.3s ease;
        }

        /*.navbar-inverse .navbar-nav>li:hover
        {
            background-color: black;
            color:white;
        }
        .navbar-inverse .navbar-nav>li>a
        {
            color:#000;
        }*/
        header.carousel {
            height: 85%;
        }
       #searchbx {
            /*width:250px; */
            padding:5px 10px;            
            background-color: transparent;
            border: 2px solid black;
            border-bottom: 1px solid #ccc;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }
        
        .navbar-inverse .navbar-toggle .icon-bar
        {
            color: black;
        }

        .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover
        {   background-color: white;}

        .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>li>a:hover {
            color: #fff;
            background-color: black;
        }
        .nav>li:hover
        {   color: white;
            
        }
         .navbar-inverse {
            box-shadow: 0px 2px 9px black;
        }

       .navbar-inverse .navbar-nav>li>a:hover,.navbar-nav>li>a:focus
        {
            cursor: pointer;
            background-color:black;
            color:white;
        }

        .modal-content
        {
            border-radius: 0px;
            box-shadow: 0px 0px 5px solid black;
        }
        .modal-header{
            padding: 15px;
            color: white;
            background-color: rgba(0, 0, 0, 0.87);
            border-bottom: 1px solid #FDFDFD;
        }
        .close
        {opacity: 0.9;}
        .modal-header .close {
         margin-top: -2px;
         color: white;
        }

        .fa-2x {
            font-size: 1.5em;
        }
        .fa-3x{z-index: 1000;}
        .lbl,.lgn
        {padding: 10px 14px;}
        .lgntb
        {padding: 20px 40px;border-radius: 0px;
        }
        .form-control:focus {
        border-color: #000;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0, 0, 0, 0.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0, 0, 0, 0.6);
        }
        .modal-footer
        {border:0px;}
        .btn-twitter,.btn-google,.btn-facebook,.btn-linkedin{border-radius: 0px;padding: 8px 45px;}
        #lgnbtn
        {
        background-color: white;
        border: 1px solid black;
        border-radius: 0px;
        font-weight: bold;
        color: black;
        padding: 10px 30px;
        }
        #lgnbtn:hover
        {
            background-color: black;
            color: white;
        }
        
        #orlbl
        {
        border-radius: 32px;
        background-color: black;
        color: white;
        margin-top: 61px;
        padding: 15px 15px;
        position: absolute;
        }

	#logolink
{
text-decoration:none;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #000;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle
{
border-radius:0px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #fff;
}

#searchbx {
   border: none;
   border-bottom:1px solid white;  
}


/*My customized css*/
.nav-items{
    border: 1px solid white;
    margin-top: -30px; 
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.8s ease-in-out;
    /*transition: background-color 1000ms linear;*/
}
.search{
    margin-top:7px; 
}

.nav-items a{
    color: black;
}

.nav-items a:hover{
    color: black;
    text-decoration: none;
    cursor: pointer; 
}

.nav-items:hover{
    background-color: white;
}
.email:hover{
    font-size: 17px;
     color: grey;
}
.namebar{
    /*height: 70px;*/
    overflow: hidden;
}

.namebar img{
    margin-left: 33%;
}
.namebar a{

    font-family: 'Roboto Slab', serif;
    /*color: black;*/
    /*margin-left: 40%;
    color: #633434; 
    font-size: 42px;*/
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{

    margin-left: 27%;
}
.navbar_items{
    
    font-size: 17px;
    font-family: ubuntu;
    text-transform: uppercase;
    /*margin-bottom: 1%;
    margin-top: 1%;*/
}

/*.navbar-inverse .navbar-nav>li>a{
    margin: 5%;
}*/ 

.navbar{
    /*box-shadow: rgb(239, 239, 239) 0px 0px 35px 2px;*/
    margin-bottom: 0px !important;
    border-radius: 0px; 
}

.navbar-inverse{
    box-shadow: rgb(239, 239, 239) 0px 0px 35px 2px;
    z-index: 100;
}

/*Navbar items focus hover etc effect css*/
.navbar-inverse .navbar-nav>.active>a{
    background-color: white;
    color: black;
    border-color: white;
    -webkit-transition:0.9s;
}

.navbar-inverse .navbar-nav>li>a{
    background-color: white;
    color: black;
    border-color: white;
    position: relative;
    -webkit-transition:0.9s;

}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    background-color: white;
    color: black;
/*    border: none !important;*/
}

.navbar-inverse .navbar-toggle .icon-bar
{
    color: black;
}

        .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover
        {   background-color: white;
            color: black;
        }

        .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:hover {
            color: black;
            background-color: white; 
            /*border: none !important;*/
        }
        /*.nav>li:hover
        {   color: black;
            
        }*/
         /*.navbar-inverse {
            box-shadow: 0px 2px 9px black;
        }*/

       .navbar-inverse .navbar-nav>li>a:hover,.navbar-nav>li>a:focus,.navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover
        {
            cursor: pointer;
            background-color:white;
            color:black;
            /*border: none;*/
            /*border: 2px solid white !important;*/
        }

        .navbar-inverse .navbar-nav>li:hover
        {
            background-color: white;
            color:black;
            /*border: 2px solid #0b7 !important;*/
        }
        .navbar-inverse .navbar-nav>li>a
        {
            color:black;
        }

        .navbar-inverse .navbar-nav>li>a::before, .navbar-inverse .navbar-nav>li>a::after{
          width: 100%;
          height:100%;
          z-index: 3;
          content:'';
          position: absolute;
          top:0;
          left:0;
          box-sizing: border-box;
          -webkit-transform: scale(0);
          transition: 0.5s;
        }

        .navbar-inverse .navbar-nav>.active>a::before, .navbar-inverse .navbar-nav>.active>a::after {
          width: 100%;
          height:100%;
          z-index: 3;
          content:'';
          position: absolute;
          top:0;
          left:0;
          box-sizing: border-box;
          -webkit-transform: scale(0);
          transition: 0.5s;
        }
        
        .navbar-inverse .navbar-nav>li>a::before,.navbar-inverse .navbar-nav>.active>a::before {
          border-bottom: 2px solid black;
          border-left: 2px solid black;
          -webkit-transform-origin: 0% 100%;
        }

        .navbar-inverse .navbar-nav>li>a::after, .navbar-inverse .navbar-nav>.active>a::after {
          border-top: 2px solid black;
          border-right: 2px solid black;
          -webkit-transform-origin: 100% 0%;
        }

        .navbar-inverse .navbar-nav>li>a:hover::after, .navbar-inverse .navbar-nav>li>a:hover::before {
          -webkit-transform: scale(1);
        }

        .navbar-inverse .navbar-nav>.active>a:hover::after, .navbar-inverse .navbar-nav>.active>a:hover::before {
          -webkit-transform: scale(1);
        }

        ul.nav li.dropdown > .dropdown-menu{
        visibility:hidden;
        display:block;
        /*opacity:0;*/
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -o-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out;
        }
        ul.nav li.dropdown:hover > .dropdown-menu{
        visibility:visible;
        /*opacity:1;*/
        display: block;
        background: white;
        }
        .dropdown-menu.sub-menu {
            margin-left: 147px;
            margin-top: -20px;
        }

/*Dropdown menu effects*/
.navbar-nav>li>.dropdown-menu{
    width: 90%;
    margin-left: 4%;
    /*margin-top: 0.5%; */  
    opacity: 1;
    position: absolute;
    z-index: 1000;
    top: 100%;
    height: 352px;
    box-sizing: border-box;
    box-shadow: rgba(51, 51, 51, 0.14902) 1px 1px 14px;
    /*background: url("C:/xampp/htdocs/git/Fashonation/FashoNation/images/featured/image1.jpg") 100% 0% no-repeat rgb(255, 255, 255);*/
    /*background-repeat: no-repeat;*/
    background-position: 100% 0%;
}

.dropdown-image>img{
    margin-left: 28%;
}

.dropdown-image1>img{
    margin-left: 0%;
}

.dropdown-image-noMaxWidth img{
    max-width: none;
}

.nav-items i{
    margin-right: 2px;
    display: inline-block;
    text-align: center;
    font-size: 19px;
    line-height: 42px;
    width: 42px;
    height: 42px;
    color: rgb(180, 163, 118);
    box-shadow: rgba(0, 0, 0, 0.0980392) 2px 3px 5px 0px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    transition: all 0.6s ease;
}

.nav-items .cart_dropdown_icon i{
     margin-right: 0px;
    display: block;
    text-align: center;
    font-size: 20px;
    width: 0px;
    height: 0px;
    color: rgb(180, 163, 118);
    box-shadow: none;
    border-radius: 0%;
    background: none;
    transition: all 0.6s ease;
    line-height: 25px;
}

.nav-items:hover .cart_dropdown_icon i{

    background-color: white;
    color: rgb(180, 163, 118);
    transition: all 0.6s ease;
}

.nav-items:hover i{

    background-color: rgb(180, 163, 118);
    color: white;
    transition: all 0.6s ease;
}

.boxShadow{
    box-shadow: rgb(239, 239, 239) 0px 0px 35px 2px;
}

/*.navbar-brand {
    float: none;
    height: 0px;
    padding: 5px;
    font-size: 18px;
    line-height: 20px;
    padding: 5px;
}*/

/*.tab-bg-image{
    background: url("file:///C:/xampp/htdocs/git/Fashonation/FashoNation/images/abc.jpg") no-repeat center;
    background-size: cover;
    opacity: 0.3;
}*/

.dropdown-image img{
    height: 345px !important;
    width: 250px !important;
}

.dropdown-image1 img{
    height: 345px !important;
    
}

.dropdown-image{
    float: right;
    margin-right: 10% !important;
}

.tab-content-align{
    float: right !important;
}

.dropdown_ul{
    list-style-type: none;
    font-weight: bold;
    font: Black bolder ;
}

.dropdown_ul{
    list-style-type: none;
    font-weight: bold;
    text:white;
}


.dropdown_li{
    margin:20px;
}

/*.dropdown_li:hover{
    margin-left: 40px;
}*/

.nav-hover a {
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 1.35em;
}

.nav-hover a:hover,
.nav-hover a:focus {
    outline: none;
}


/* Effect 11: text fill based on Lea Verou's animation http://dabblet.com/gist/6046779 */
.cl-effect-11 a {
    padding: 2px 0;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    color: black;
    text-shadow: none;
} 

.cl-effect-11 a::before {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    /*padding: 2px 0;*/
    max-width: 0;
    border-bottom: 2px solid rgb(180,163,118);
    border-top: 2px solid rgb(180,163,118);
    color: rgb(180,163,118);
    content: attr(data-hover);
    /*-webkit-transition: max-width 0.5s;
    -moz-transition: max-width 0.5s;
    transition: max-width 0.5s;*/
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
    transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;

}

.cl-effect-11 a:hover::before,
.cl-effect-11 a:focus::before {
    max-width: 100%;
}

/*Dropdown left menu css*/

/*.tabs ul{
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    height: 100px;
    list-style: none;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.tabs ul li {
    position: relative;

}*/


/*offerzone*/
/*.offer-zone{
    margin-top: 5%;
    z-index: 100;
    position: absolute;
}*/

 #content {
    position: relative;
    margin-top: 6%;
    z-index: 10;
   /* margin-bottom: 70px;*/
}

.no-marginleft{
    margin-left: -15px;
}

.no-marginleft1{
    margin-left: -30px;
}
.offerzone-sale{
    position: absolute;
    /*left: 100%;
    top: 0px;
    bottom: 0px;
    width: 390px;
    padding-top: 14%;*/
    background: rgb(161, 146, 107);
    height: 100%;
}



.row .no-gutters {
   margin-right: 0;
   margin-left: 0;
}
.row .no-gutters > [class^="col-"],
.row .no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}

#cont-offerzone [class^="col"] {
  padding-left: 0;
  padding-right: 0;
}

#cont-offerzone{
    width: 90%;
}
.offer-zone-row{
}

/*Recent product hover effects*/
.recent-imageffect{
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.recent-imageffect .overlay{
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.recent-imageffect:hover .overlay{
    background-color: rgba(180, 163, 118, 0.52);
}

.recent-imageffect img{
    position: relative;
}

.recent-imageffect h1{

    position: absolute;
    top: 35%;
    width: 100%;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 56px;
    line-height: 65px;
    margin:5px;
    font-family: ubuntu;
    text-align: center;
}

.recent-imageffect a.info{
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: normal;
  font-family: ubuntu;
}

.recent-imageffect:hover a.info {
  padding-top: 132%;
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 52%;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.recent-imageffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.recent-imageffect a.info span{
    font-size: 14px;
    background-color: transparent;
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s ease;
    margin-top: 134%;
    padding: 8px 29px 11px;
    margin-left: -3%;
}

.recent-imageffect a.info span{
    font-size: 14px;
     border-color: rgb(255, 255, 255);
    background-color: transparent;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s ease;
    padding: 8px 29px 11px;   
}

.recent-imageffect a.info span:hover{
    color: rgb(51, 51, 51);
    background: rgb(255, 255, 255);
}

/*Quality Image overlay*/

/*.quality-imageffect{
    position: relative;
    cursor: default;
    overflow: hidden;
}*/

/*.quality-imageffect .overlay{
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
    overflow: hidden;
    cursor: default;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}*/

/*.quality-imageffect:hover .overlay{
    background-color: rgba(180, 163, 118, 0.52);
}*/
.quality-imageffect img{
    transition: all 0.4s ease-in-out;
}

.quality-imageffect {
    background-color: rgb(180, 163, 118);
}

.quality-imageffect:hover img{
    /*filter:sepia(100%);    
    -webkit-filter: sepia(100%);*/
    opacity: 0.5;
}

/*.reasonable-text img:hover{
    filter:sepia(100%);    
    -webkit-filter: sepia(100%);
}*/
/*new arrivals effect*/

.newarrival-imgtext{
    position: relative;
    width: 100%;
    /*height: 100%;*/
    overflow: hidden;
    text-align: center;
}

.newarrival-imgtext .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.newarrival-imgtext:hover .overlay{
    background-color: rgba(180, 163, 118, 0.52);
} 

.newarrival-imgtext img{
    cursor: pointer;
    position: relative;
}

.newarrival-imgtext h1{

    position: absolute;
    top: 35%;
    width: 100%;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 56px;
    line-height: 65px;
    margin:5px;
    font-family: ubuntu;
    text-align: center;
}

.newarrival-imgtext a.info {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: normal;
  font-family: ubuntu;
   
}

.newarrival-imgtext:hover a.info {
    padding-top: 132%;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 52%;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

newarrival-imgtext:hover h1{
    top: 30%;
}

.newarrival-imgtext a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.newarrival-imgtext a.info span{
    font-size: 14px;
    background-color: transparent;
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s ease;
    margin-top: 134%;
    padding: 8px 29px 11px;
    margin-left: -3%;
}

.newarrival-imgtext a.info span{
    font-size: 14px;
     border-color: rgb(255, 255, 255);
    background-color: transparent;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s ease;
    padding: 8px 29px 11px;   
}

.newarrival-imgtext a.info span:hover{
    color: rgb(51, 51, 51);
    background: rgb(255, 255, 255);
}

.sales-imgtext img{
    cursor: pointer;
    position: relative;
}

.sales-imgtext h1{
    position: absolute;
    top: 22%;
    font-size: 86px;
    line-height: 77px;
    text-align: center;
    margin-left: 23%;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-family: ubuntu;
}

.sales-imgtext h1 span{
    font-size: 16px;
    line-height: 36px;
    display: block;
    margin-top: 12px;

}

.sales-imgtext h1 em{
   font-size: 36px;
line-height: 36px;
    display: block;
    font-style: normal;
    margin-top: 12px;
}

.quality-imgtext img{
    position: relative;    
}

.quality-imgtext .s-desc{
    position: absolute;
    left: auto;
    padding-top: 11%;
    top: 0px;
    bottom: 0px;
}

.quality-imgtext .s-desc h2.mod1 {
    line-height: 36px;
}

.quality-imgtext .s-desc h2 {
    position: relative;
    font-size: 36px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
    font-family: ubuntu;
}


.quality-imgtext .s-desc h2::after {
    content: "";
    display: block;
    width: 24px;
    height: 3px;
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(255, 255, 255);
}

.quality-imgtext{
    text-align: center;
}

.quality-imgtext .s-desc h2 span{
    display: block;
    margin-top: 12px;
}

.quality-imgtext .s-desc p {
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 25px;
    padding-left: 30px;
    padding-right: 30px;
}

.quality-imgtext .s-desc p + .button {
    margin-top: 25px;
}

.quality-imgtext .s-desc .button {
    font-size: 14px;
    border-color: rgb(255, 255, 255);
    padding: 8px 29px 11px;
}

a.button, .button {
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    padding: 15px 38px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(180, 163, 118);
    transition: all 0.5s ease;
}

.quality-imgtext .s-desc .button:hover {
    color: rgb(51, 51, 51);
    background: rgb(255, 255, 255);
}

/*sales image text hover effect*/

.hovereffect{
  width: 100%;
  /*height: 100%;*/
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover .overlay {
  background-color: rgb(180, 163, 118);
}

.hovereffect img {
  display: block;
  position: relative;
}

.hovereffect a.info {
  /*display: inline-block;*/
  text-decoration: none;
 /* padding: 7px 14px;*/
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: normal;
  /*padding: 31%;
  padding-bottom: 45%;*/
  font-family: ubuntu;
  /*margin: 9%*/
   
}

.hovereffect:hover a.info {
   padding-top: 70%;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 12%;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect a.info span{
    font-size: 14px;
    border: none;
    background-color: transparent;
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s ease;
    margin-top: 74%;
    padding: 8px 29px 11px;
    margin-left: -3%;
}

/*resonable price css*/

.reasonable-text img{
    position: relative;
}

.reasonable-text .s-desc{
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    right: 5px;
    padding-top: 8%;
    width: 390px;
    text-align: center;
}

.reasonable-text .s-desc h2.mod1{
    line-height: 36px;
}

.reasonable-text .s-desc h2{
    position: relative;
    color: white;
    font-family: ubuntu;
    font-size: 40px;
    text-transform: uppercase;
}

.reasonable-text .s-desc h2 span{
    display: block;
    margin-top: 10px;
}

.reasonable-text .s-desc h2:after{
    content: " ";
    display: block;
    width: 24px;
    height: 3px;
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(255, 255, 255);
}

.reasonable-text .s-desc p{
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 18px;
    width: 225px;
    margin-left: auto;
    margin-right: auto;
}

.reasonable-text .s-desc p + .button {
    margin-top: 25px;
}

.reasonable-text .s-desc .button {
    font-size: 14px;
    border-color: rgb(255, 255, 255);
    padding: 8px 29px 11px;
}

.reasonable-text .s-desc .button:hover {
    color: rgb(51, 51, 51);
    background: rgb(255, 255, 255);
}

/*.reasonable-text a{
    transition: all 0.4s ease-in-out;
    max-width: 100%;
    display: block;
    position: relative;
    color: inherit;
}

.reasonable-text:hover a{
    color: rgb(180, 163, 118);
    text-decoration: none;
    display: block;
}*/

.reasonable-text {
    background-color: rgb(180, 163, 118);;
    transition: all 0.4s ease-in-out;   
}

.reasonable-text img{
    transition: all 0.4s ease-in-out;
}

.reasonable-text:hover img{
    opacity: 0.5;
}

/*.reasonable-text a:active {
    background-color: transparent;
}

.reasonable-text a:focus {
    outline-offset: -2px;
    outline: -webkit-focus-ring-color auto 5px;
}*/
/*Footer Css*/
    #ab{
        font-size: 25px;
    }
    .no-padding{
        padding: 0px 0px !important;
    }

    .footer_padding{
        padding-bottom:20px;
    }

    .footer_box ul{
        font-size: 16px;
    }

    .footer_box h3::after{
        content: "";
        display: block;
        width: 24px;
        height: 3px;
        margin-top: 23px;
        background: rgb(180, 163, 118);
    }

    footer{
     margin-top: 70px;
     margin-bottom: 0px;
     background-color: #303030;
     border-top: 1px solid #ddd;
     color: #e2e2e2;
     padding-top: 30px;
     padding: 20px;
    }

    .nav>li>a:focus, .nav>li>a:hover {
        text-decoration: none;
        background-color: transparent;
    }


    footer hr {
        border-top: none;
        border-bottom: 1px solid #666;
    }
    footer a {
        color: #ccc;
    }
    footer a:hover {
        color: #fff;
    }
    footer h5 {
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        font-weight: bold;
        color: #fff;
    }
    .footer_links{
    
    font-size: 15px;
    }
    .footer_links:hover a{
        font: bolder;
        font-size:18px;
        color: rgb(180, 163, 118);
    }
    
    .footer_box h3:hover{
        cursor: pointer;
        color: rgb(180, 163, 118);
    }

    .footer-info p{
        margin-top: 12px;
        margin-bottom: 0px;
        font-size: 16px;
    }

    .footer-info p i{
        color: rgb(180, 163, 118)
    }

    .footer-info p:hover{
        font: bolder;
        /*font-size:18px;*/
        color: rgb(180, 163, 118);
        text-decoration: none;
    }

    .footer-info p:hover a{
        font: bolder;
        /*font-size:18px;*/
        color: rgb(180, 163, 118);
        text-decoration: none;
    }

    .footer-cont{
            border: 2px solid #4c4c4c;
        padding: 20px;
        margin-bottom: 20px;
    }

    .footer-info{
        border-right: 2px solid #4c4c4c;
    }

    .footer-icons i{
            font-size: 50px;
            
    }

    .footer-icons{
        margin-top: 50px; 
        margin-right: 30px;
    }

    .footer-icons:hover i{
        color: rgb(180, 163, 118);
    }

    .footer-info a{
        text-decoration: none;
    }
   /*Testemonials css*/

    #quote-carousel {
      padding: 0 10px 30px 10px;
      margin-top: 30px;
      text-align:center;
    }
/* indicator position */
    #quote-carousel .carousel-indicators {
      right: 50%;
      top: auto;
      bottom: -10px;
      margin-right: -19px;
    }
    /* indicator color */
    #quote-carousel .carousel-indicators li {
      background: #c0c0c0;
    }
    /* active indicator */
    #quote-carousel .carousel-indicators .active {
      background: #333333;
      height:10px;
      width:10px;
      margin-bottom:1px;
    }
    /* typography */
    h1 {
      text-align:center;
      margin-bottom:-20px !important;
    }


    .ptest {
      font-style:bold;
      font-size: 20px;
      font-weight: bolder;
      color: white;
      margin: 10px;
      margin-left: 30px; 
    }



    .testimg{
        /*border-radius: 30px;*/
        /*height: 200px;
        max-width: 140%;*/
        height: 30%;
    }


    /*navbar dropdown tab css*/

    .tabs-hovereffect{
        padding-left: 0px;
    }

    .tabs-hovereffect ul{
        margin:0px;
        padding:0px;
        list-style-type:none;
        -webkit-backface-visibility: hidden; 
        backface-visibility: hidden; 
    }

    .var_nav
    {
        position:relative !important;
        background:#ccc; 
        height:84px;
        margin-bottom:5px;
        padding: 0px !important;
    }

    .link_bg
    {
     width:70px;
     height:84px;
     position:absolute;
     background:rgb(180, 163, 118);
     color:#fff;
     z-index:2;
     padding: 0px !important;
    }

    .link_bg i
    {  
     position:relative;
    }

    .link_title
    {
    position:absolute;
    width:100%;
    z-index:3;
    color:#fff;
    }

    .link_title:hover .icon
    {
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    transform:rotate(360deg);  
    }
    .var_nav:hover .link_bg
    {
        height: 84px;
    width:100%;
    background:rgb(180, 163, 118);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.5s ease-in-out;  
    }
    .var_nav:hover a
    {
    font-weight:bolder;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out; 
    -o-transition:all .5s ease-in-out; 
    -ms-transition:all .5s ease-in-out;
     transition:all .5s ease-in-out;  
    }
.icon
{
position:relative;
width:70px;
height:70px;
text-align:center;
color:black;
-webkit-transition:all .5s ease-in-out;
-moz-transition:all .5s ease-in-out; 
-o-transition:all .5s ease-in-out; 
-ms-transition:all .5s ease-in-out;   
float:left;
transition:all .5s ease-in-out;    
}
.icon i{
    top:28px;
    position:relative;
}
    .link_title a{
    display:block;
    position:absolute;
    float:left;
    font-family:arial;
    color:black;
    text-decoration:none;
    width:100%;
    height:84px;
    text-align:center;
    font-weight: bold;
    }
    .link_title span
    {
    margin-top:13px;
    display:block;
    }

    .link_title span p{
        position: absolute;
        margin-left: 80px;
        font-size: 10px;
        text-align: -webkit-left;
        font-weight: normal;
        padding-top: 10px;
    }

    #cont-dropdown [class^="col"] {
      padding-left: 0;
      padding-right: 0;
    }

    /*Parallax css*/
        .pslide {
          position: relative;
          padding: 25vh 10%;
          min-height: 100%;
          width: 100%;
          box-sizing: border-box;
          box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
          transform-style: inherit;
        }

        #ptitle {
          background-image: url("../imgs/parallax.jpg");
           background-attachment: fixed; 
           /*width: 1343px;
            margin-left: -675px;
            left: 50%;*/
            background-position: 50% 65.7016%; 
        }

        #parallax_cont{
            width: 100%;
        }

    /*.pslide:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left:0;
      right:0;
    }

    .parallax > div{
        position: relative;
        color: rgb(255, 255, 255);
        background-size: cover;
        max-width: 1600px;
        padding: 20.5% 0px 22.5%;
        background-position: 50% 0%;
        background-repeat: no-repeat;
    }*/


    /*.parallax {
        line-height:27px;
        font-size:15px;
        color:#fff;
        margin-top: 70px;
    }
    .parallax>div.link {
        cursor:pointer
    }
    .parallax>div {
        position:relative;
        padding: 20.5% 0 22.5%;
        color:#fff;
        background-position:top;
        background-repeat:no-repeat;
        background-size:cover;
        max-width: 1600px !important;
    }
    @media (min-width: 1600px) {
        .parallax>div {
            margin-left: -800px !important;
        }
    }
    .parallax p {
        position:relative;
        display:block;
        line-height: 13px;
        margin-top: 3px;
        margin-bottom: 58px;
    }
    .parallax {
        text-align: right;
    }
    .parallax h1.mod1 {
        text-align: right;
    }
    .parallax h1.mod1:before {
        position: absolute;
        right: 15px;
        top: -36px;
    }
    .parallax .separator {
        display: inline-block;
        width: 130px;
    }*/


    /*Cart modal popup*/

    .offer img{
    width: 70% important;
}

.fieldset{
    margin-bottom: -12px;
}
       ol, ul {
    list-style: none;
}

.cd-cart-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 54, 66, 0.9);
  z-index: 100;
  overflow-y: auto;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  -moz-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}
.cd-cart-modal.is-visible {
  visibility: visible;
  opacity: 1;
}
.cd-cart-modal.is-visible .cd-cart-modal-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.cd-cart-modal-container {
  position: relative;
  width: 90%;
  max-width: 600px;
  background: #FFF;
  margin: 3em auto 4em;
  cursor: auto;
  border-radius: 0.25em;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

    #center_column{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    /*cart dropdown*/

    .cart_dropdown{
        left: -100%;
    }

    /*.open > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);  
  opacity:1;
}
  
.dropdown-menu {
  opacity:.3;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;  
  animation-fill-mode: forwards; 
  -webkit-transform: scale(1, 0);
  display: block; 
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}*/


    .dropdown1 .dropdown-menu {
      box-shadow: 1px 1px 14px rgba(51, 51, 51, 0.15);
        background: #fff;
        margin-top: 5px;
        border-radius: 0;
        z-index: 1001;
        min-width: 300px;
        padding: 10px 10px 5px;
        max-height: 500px;
        overflow-y: auto;
        margin-top: 15px;

      opacity:.3;
      -webkit-transform-origin: top;
      -moz-transform-origin: top;
      transform-origin: top;
      -webkit-animation-fill-mode: forwards;  
      -moz-animation-fill-mode: forwards;  
      animation-fill-mode: forwards; 
      -webkit-transform: scale(1, 0);
      -moz-transform: scale(1, 0);
      display: block; 
      transition: all 0.2s linear;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
    }

    .dropdown1.open .dropdown-menu {
      -webkit-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      transform: scale(1, 1);  
      opacity:1;
    }

    .cart_dropdown_image{
        height: 6%;
    }

    .cart-dropdown-removeIcon span{
        margin-right: 2px;
        display: inline-block;
        text-align: center;
        font-size: 19px;
        line-height: 42px;
        width: 42px;
        height: 42px;
        color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.0980392) 2px 3px 5px 0px;
        border-radius: 50%;
        background: rgb(180, 163, 118);
        transition: all 0.5s ease-in-out;
    }

    .cart-dropdown-removeIcon:hover span{
        background-color: white;
        color: rgb(180, 163, 118);
        font-size: 28px;
    }

    .no-td-border{
        border-top: none !important;
        padding-top: 3px !important;
    }

    .cart-dropdown-button .button{
            display: inline-block;
    font-size: 16px;
    line-height: 26px;
    /* font-weight: 700; */
    color: rgb(29, 29, 29);
    text-transform: none;
    /* padding: 8px 36px; */
    border-width: 2px;
    border-style: solid;
    border-color: rgb(180, 163, 118);
    transition: all 0.5s ease;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px
    transition: all 0.5s ease-in-out;
        
    }

    .cart-dropdown-button:hover .button{
        background-color: rgb(180, 163, 118);
        color: white;
    }

    .cart-dropdown-table1 tr td{
        font-size: 14px;
    }

    .cart-dropdown-table{
        margin-bottom: 0px;
    }

    .cart-dropdown-table tr td{
        font-size: 12px;
    }


    /*Product Details Page*/
    #productDetailsCont [class^="col"] {
      padding-left: 0;
      padding-right: 0;
    }

    #productDetailsCont{
        margin-top: 30px;
        font-family: ubuntu;
    }

    .small-thumbnail{
        margin-top: 10px;
        margin-bottom: 10px; 
    }

    .big-thumbnail{
        border-left:5px solid rgb(180, 163, 118);
    }

    .small-image-border{
        border: 2px solid rgb(180, 163, 118);
    }

    .productcontent .product_title{
        font-family: ubuntu;
        text-align: left;
        padding-bottom: 10px;
    }

    .productcontent h3{
        padding-bottom: 10px;
    }

    .productcontent p{
        font-size: 18px;
        padding-bottom: 10px;
    }

    .rating{
        color: rgb(180,163,118);
        padding-bottom: 10px;
    }

    .rating a{
        text-decoration: none;
        color: black;
        font-family: ubuntu;

    }

    .cartAddBtn{
        padding: 7px 25px;
        background-color: rgb(180,163,118);
        border-color: rgb(180,163,118);
        font-size: 15px;
        transition: all 0.4s ease-in-out;
        border: 2px solid rgb(180,163,118);
        color: white;
    }

    .increseQty{
        margin-right: 20px;
    }

    .decreaseQty{
        margin-left: 20px;
    }

    .qtyspan{
        font-weight: 700;
        font-size: 18px;
    }

    .rating a:hover{
        color: rgb(180,163,118);
        text-decoration: none;
    }

    .cartAddBtn:hover{
        background-color: white;
        color: rgb(180,163,118);
        border: 2px solid rgb(180,163,118);
    }

    .sizeBtn{
        background-color: rgb(180,163,118);
        border: 2px solid rgb(180,163,118);
        width: 55px;
        font-weight: 700px;
        color: white;
        transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
    }

    .sizeDiv{
        margin-right: 20px;
    }

    .sizeBtn:hover{
        background-color: white;
        border: 2px solid rgb(180,163,118);
        color: rgb(180,163,118);
        width: 55px;
    }

    .selected{
        background-color: white;
        border: 2px solid rgb(180,163,118);
        color: rgb(180,163,118);
        width: 55px;
    }

    .sizeChartBtn{
        margin-top: 10px;
    }

    .shopButton .button{
        font-size: 18px;
        border: 2px solid rgb(180,163,118);
        background-color: rgb(180,163,118);
        padding: 8px 27px 11px;
        font-weight: 500;
        cursor: pointer;
    }

    .shopButton1 .button{
        font-size: 18px;
        border: 2px solid rgb(180,163,118);
        background-color: rgb(180,163,118);
        padding: 8px 10px 11px;
        font-weight: 500;
        cursor: pointer;
    }

    .shopButton .button:hover{
        background-color: white;
        color: rgb(180,163,118);
    }

    .shopButton1 .button:hover{
        background-color: white;
        color: rgb(180,163,118);
    }
    .shopButton{
        margin-bottom: 20px;
    }


    .whiteBorder{
        border: 2px solid white;
    }
    /*Responsive text of offer zone*/

    .sales-imgtext h1{

    }

    @media (max-width: @screen-xs) {
        body{font-size: 10px;}
    }

    @media (max-width: @screen-sm) {
        body{font-size: 14px;}
    }

    @media (max-width: @screen-md) {
        .reasonable-text .s-desc{
            padding-top: 0% !important;
        }
    }





/*Media Queries */

@media (max-width: 1350px) {
            .reasonable-text .s-desc{
                padding-top: 0% !important;
            }   

            .sales-imgtext h1{
                font-size: 68px ;
                margin-left: 25% ;
                top: 15% ;
            }
            .hovereffect a.info span{
                margin-top: 80% !important;
            }

            .hovereffect:hover a.info{
                padding-bottom: 4% ;
                padding-top: 77%;
            }

            /*.quality-imgtext .s-desc p + .button{
                margin-top: 0px !important;
            }*/

            #ptitle {
            /*width: 1213px;
            margin-left: -607px;
            left: 50%;*/
            background-position: 50% 46.5379%; 
            }
        }

        @media (max-width: 1200px) {

            .quality-imgtext .s-desc{
                width: 100%;
                margin-left: 0px;
                padding-top: 1% !important;
            }

            .reasonable-text .s-desc{
                width: 300px ;
                margin-left: 140px ;
            }

            .hovereffect:hover a.info{
                padding-left: 20%;
                padding-right: 20%;
            }

            .dropdown-image-noMaxWidth img{
                max-width: 145%;
            }
            
        }
        @media (max-width: 1024px) {

            .quality-imgtext .s-desc{
                /*width: 316px !important;*/
            }
            .sales-imgtext h1{
                margin-left: 23%;
            }

            /*.quality-imgtext .s-desc p{
                display: none !important;
            }*/
        }


        @media (max-width :990px){
            
            .quality-imgtext .s-desc{
                padding-top: 6% !important; 
            }
            
            .quality-imgtext .s-desc p{
                display: none !important;
            }

            .quality-imgtext .s-desc h2{
                font-size: 28px !important;
                line-height: 22px !important;
            }

            .reasonable-text .s-desc{
                padding-top: 8% ;
                width: 205px ;   
            }

            .reasonable-text .s-desc p{
                display: none !important;
            }

            .reasonable-text .s-desc h2{
                font-size: 28px !important;
                line-height: 22px !important;
            }
            /*.quality-imgtext .s-desc h2{
                font-size: 30px !important;
            }*/

            .sales-imgtext h1{
                margin-left: 20%;
                line-height: 25px;
                font-size: 60px;
            }

            .sales-imgtext h1 em{
                line-height: 20px;
            }

            .hovereffect:hover a.info{
                padding-right: 10%;
                padding-left: 10%
                padding-bottom: 2%;
            }

            .navbar-nav>li>.dropdown-menu{
                width: 100%;
                margin-left: 0%;
            }

            .link_title span p{
                display: none;
            }

            .link_title span{
                margin-top: 32px;
                margin-left: 50px;
            }

            .nav-hover a{
                font-size: 1.15em;
            }
        }

        @media (min-width:768px) and (max-width:990px) { 
            .navbar_items{
                margin-left: 12% !important;
            }
            .namebar img{
                width: 40%;
                height: 15%;
            }
            .email{
                margin-bottom: 30px;
            } 
            
            .recent-imageffect:hover a.info{
                padding-top: 132% !important;
                padding-left: 15% !important;
                padding-right: 15% !important;
                padding-bottom: 43% !important;
            } 

            .recent-imageffect h1{
                font-size: 37px !important;
            }

            .newarrival-imgtext h1{
                font-size: 37px !important;
            }

            .newarrival-imgtext:hover a.info{
                padding-top: 132% !important;
                padding-left: 15% !important;
                padding-right: 15% !important;
                padding-bottom: 43% !important;
            }

            #cont-offerzone{
                width: 90% !important;
            }

            .footer-icons{
                margin-right: 20px;
            }

            .footer-icons i{
                font-size: 40px;
            }

        }

        @media (max-width :767px){
            .searchbox{
                height: 64px;
            }
            #fullnmlogo
            {display: none;}
            /*.cart{
                display: none;
            }*/
            header
            { 
            margin-top: -47px;
            }
            #logolink
            {display: block; color: black; font-size: 2em;padding: 10px 10px;}

            .nav-items{
                margin-bottom: 20px;
                background-color: white;
            }
            .email{
                margin-bottom: 35px;
            }

            /*dropdown effect*/
            .navbar-nav>li>.dropdown-menu{
                /*width: 90%;
                margin-left: 4%;
                margin-top: 0.5%;   
                opacity: 1;*/
                position: absolute;
                z-index: 1000;
                /*top: 100%;
                height: 352px*/;
                box-sizing: border-box;
                box-shadow: rgba(51, 51, 51, 0.14902) 1px 1px 14px;
                /*background: url("C:/xampp/htdocs/git/Fashonation/FashoNation/images/featured/image1.jpg") 100% 0% no-repeat rgb(255, 255, 255);*/
                /*background-repeat: no-repeat;*/
                background-position: 100% 0%;
            }

            .dropdown-image>img{
                display: none;
            }

            .dropdown-image1>img{
                display: none;
            }

            .sales-imgtext{
                display: none !important;
            }

                        #infosec
            {display:none;}
            #fullnmlogo
            {display: none;}
            .nav-items{
                margin-bottom: 20px;
                background-color: white;
            }
            .namebar img {
                margin-left: 26% !important;
                height: 15%;
                width: 50%;
            }

            .navbar_items{
                margin-left: 0px !important;
            }

            .reasonable-text .s-desc h2.mod1{
                line-height: 15px !important;
            }

            .reasonable-text .s-desc h2{
                font-size: 22px !important;
            }

            .reasonable-text .s-desc p + .button{
                margin-top: 0px !important;
            }

            .reasonable-text .s-desc{
                width: 170px ;
            }

            .reasonable-text .s-desc p{
                display: none;
            }

            .reasonable-text{
                margin-bottom: 20px;
            }

            #cont-offerzone{
                /*width: 70% !important;*/
            }

            .newarrival-imgtext h1{
                font-size: 43px;
            }

            .recent-imageffect h1{
                font-size: 43px;
            }

            .quality-imgtext .s-desc{
                right: auto;
                left: auto;
                bottom: auto;
                width: 100%;
                padding-top: 20px;
                padding-bottom: 10px;
                /*background: rgb(180, 163, 118);*/
                margin: 0px !important;
            }

            .quality-imgtext{
                height: 50%;
                margin-bottom: 20px;
            }

            .quality-imgtext img{
                height: 100%;
            }

            .recent-imageffect:hover a.info{
                padding-left: 30%;
                padding-right: 30%;
            }

            .recent-imageffect{
                margin-bottom: 20px;
            }

            .tabs-hovereffect{
                width: 100%;
            }
            
            .mob-view{
                display: none;
            }

            .navbar-nav>li>.dropdown-menu{
                /*height: 100%;*/
            }

            .ptest{
                margin: 0px;
                margin-left: 0px;
                margin-top: 10px;
                font-weight: bold;
            }

            #testemonial_cont{
                padding-right: 0px;
                padding-left: 0px;
            }

            .footer_links:hover a{
                font: normal;
                font-size:15px;
                color: rgb(180, 163, 118);
            }

            .footer-info{
                border-right: 0px;
            }

            .footer-icons{
                margin-right: 15px;                
            }

            .footer-icons i{
                font-size: 30px;
            }

            #productDetailsCont{
                margin-left: 15px;
            }

            .sizeDiv{
                margin-right: 0px;
            }
        }

         @media (min-width: 767px) {
            /*#searchbx
            {width: 100px;}*/
            .nav-items{
                margin-bottom: 10px;
                background-color: white;
                /*box-shadow: rgb(239, 239, 239) 0px 0px 35px 2px;*/
                /*box-shadow: 0 8px 20px 0px rgb(239, 239, 239);*/
            }
            /*.email{
                margin-bottom: 30px;
            }*/
            .namebar img{
                width: 40%;
                height: 15%;
            }

            header{
                padding-bottom: 0px;
            }

            .searchbox{
                height: 64px;
            }

                        #logolink
            {
                display: none;
            }
            .nav>li {
            position: relative;
            display: block;
            padding: 5px 5px;
            }

        /*    #searchbx {
            width:350px; 
            }
        */  .yamm .nav,
            .yamm .collapse,
            .yamm .dropup,
            .yamm .dropdown {
              position: static;
            }
            .yamm .container {
              position: relative;
            }
            
             .yamm-content {
              padding: 20px 30px;
            }
            .dropdown-menu {
              /*left: 0;*/
              right: 0;
            }
            .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
                    display: block;
                }

        } 


        