 header {
            background-color: white;
            color: black;
            padding-top: 30px;
            padding-bottom: 4px;
            margin-top: -50px;
            font-size: 16px;
            font-family: ubuntu;
            /*height: 110px;*/
            margin-bottom: 10px;
        }

        .navbar-inverse {
        background-color: #fff;
        border-color: #fff;
}
        #nav.affix {
            position: fixed;
            top: 0;
            width: 100%;
            /*z-index: 10;*/
            opacity: 0.98;
            z-index: 10000;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 35px 2px;
            transition: all 0.3s ease;
        }

        @media (max-width :767px){
            #infosec
            {display:none;}
            #fullnmlogo
            {display: none;}
            .nav-items{
                margin-bottom: 20px;
                background-color: white;
            }
            .namebar img {
                margin-left: 26% !important;
                height: 70%;
                width: 50%;
            }

            .navbar_items{
                margin-left: 0px !important;
            }

        }

        @media (max-width :767px){
            .searchbox{
                height: 64px;
            }
            #fullnmlogo
            {display: none;}
            /*.cart{
                display: none;
            }*/
            header
            { 
            margin-top: -47px;
            }
            #logolink
            {display: block; color: black; font-size: 2em;padding: 10px 10px;}

            .nav-items{
                margin-bottom: 20px;
                background-color: white;
            }
            .email{
                margin-bottom: 35px;
            }

            /*dropdown effect*/
            .navbar-nav>li>.dropdown-menu{
                /*width: 90%;
                margin-left: 4%;
                margin-top: 0.5%;   
                opacity: 1;*/
                position: absolute;
                z-index: 1000;
                /*top: 100%;
                height: 352px*/;
                box-sizing: border-box;
                box-shadow: rgba(51, 51, 51, 0.14902) 1px 1px 14px;
                /*background: url("C:/xampp/htdocs/git/Fashonation/FashoNation/images/featured/image1.jpg") 100% 0% no-repeat rgb(255, 255, 255);*/
                /*background-repeat: no-repeat;*/
                background-position: 100% 0%;
            }

            .dropdown-image>img{
                display: none;
            }
        }

        @media (min-width:768px) and (max-width:990px) { 
            .navbar_items{
                margin-left: 12% !important;
            }
            .namebar img{
                width: 40%;
                height: 70%;
            }
        }

         @media (min-width: 767px) {
            /*#searchbx
            {width: 100px;}*/
            .nav-items{
                margin-bottom: 10px;
                background-color: white;
                /*box-shadow: rgb(239, 239, 239) 0px 0px 35px 2px;*/
                /*box-shadow: 0 8px 20px 0px rgb(239, 239, 239);*/
            }
            .email{
                margin-bottom: 30px;
            }
            .namebar img{
                width: 35%;
                height: 80%;
            }

            header{
                padding-bottom: 0px;
            }

            .searchbox{
                height: 64px;
            }
        }       
        
        @media (min-width: 767px) {

            #logolink
            {
                display: none;
            }
            .nav>li {
            position: relative;
            display: block;
            padding: 5px 5px;
            }

        /*    #searchbx {
            width:350px; 
            }
        */  .yamm .nav,
            .yamm .collapse,
            .yamm .dropup,
            .yamm .dropdown {
              position: static;
            }
            .yamm .container {
              position: relative;
            }
            
             .yamm-content {
              padding: 20px 30px;
            }
            .dropdown-menu {
              left: 0;
              right: 0;
            }
            .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
                    display: block;
                }

        }
        /*.navbar-inverse .navbar-nav>li:hover
        {
            background-color: black;
            color:white;
        }
        .navbar-inverse .navbar-nav>li>a
        {
            color:#000;
        }*/
        header.carousel {
            height: 85%;
        }
       #searchbx {
            /*width:250px; */
            padding:5px 10px;            
            background-color: transparent;
            border: 2px solid black;
            border-bottom: 1px solid #ccc;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }
        
        .navbar-inverse .navbar-toggle .icon-bar
        {
            color: black;
        }

        .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover
        {   background-color: white;}

        .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>li>a:hover {
            color: #fff;
            background-color: black;
        }
        .nav>li:hover
        {   color: white;
            
        }
         .navbar-inverse {
            box-shadow: 0px 2px 9px black;
        }

       .navbar-inverse .navbar-nav>li>a:hover,.navbar-nav>li>a:focus
        {
            cursor: pointer;
            background-color:black;
            color:white;
        }

        .modal-content
        {
            border-radius: 0px;
            box-shadow: 0px 0px 5px solid black;
        }
        .modal-header{
            padding: 15px;
            color: white;
            background-color: rgba(0, 0, 0, 0.87);
            border-bottom: 1px solid #FDFDFD;
        }
        .close
        {opacity: 0.9;}
        .modal-header .close {
         margin-top: -2px;
         color: white;
        }

        .fa-2x {
            font-size: 1.5em;
        }
        .fa-3x{z-index: 1000;}
        .lbl,.lgn
        {padding: 10px 14px;}
        .lgntb
        {padding: 20px 40px;border-radius: 0px;
        }
        .form-control:focus {
        border-color: #000;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0, 0, 0, 0.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0, 0, 0, 0.6);
        }
        .modal-footer
        {border:0px;}
        .btn-twitter,.btn-google,.btn-facebook,.btn-linkedin{border-radius: 0px;padding: 8px 45px;}
        #lgnbtn
        {
        background-color: white;
        border: 1px solid black;
        border-radius: 0px;
        font-weight: bold;
        color: black;
        padding: 10px 30px;
        }
        #lgnbtn:hover
        {
            background-color: black;
            color: white;
        }
        
        #orlbl
        {
        border-radius: 32px;
        background-color: black;
        color: white;
        margin-top: 61px;
        padding: 15px 15px;
        position: absolute;
        }

	#logolink
{
text-decoration:none;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #000;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle
{
border-radius:0px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #fff;
}

#searchbx {
   border: none;
   border-bottom:1px solid white;  
}


/*My customized css*/
.nav-items{
    border: 1px solid white;
    margin-top: -30px; 
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.8s ease-in-out;
    /*transition: background-color 1000ms linear;*/
}
.search{
    margin-top:7px; 
}

.nav-items a{
    color: black;
}

.nav-items a:hover{
    color: black;
    text-decoration: none;
    cursor: pointer; 
}

.nav-items:hover{
    background-color: white;
}
.email:hover{
    font-size: 17px;
     color: grey;
}
.namebar{
    height: 70px;
    overflow: hidden;
}

.namebar img{
    margin-left: 35%;
}
.namebar a{

    font-family: 'Roboto Slab', serif;
    /*color: black;*/
    /*margin-left: 40%;
    color: #633434; 
    font-size: 42px;*/
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{

    margin-left: 27%;
}
.navbar_items{
    
    font-size: 17px;
    font-family: ubuntu;
    text-transform: uppercase;
    /*margin-bottom: 1%;
    margin-top: 1%;*/
}

/*.navbar-inverse .navbar-nav>li>a{
    margin: 5%;
}*/ 

.navbar{
    /*box-shadow: rgb(239, 239, 239) 0px 0px 35px 2px;*/
    margin-bottom: 0px !important;
    border-radius: 0px; 
}

.navbar-inverse{
    box-shadow: rgb(239, 239, 239) 0px 0px 35px 2px;
    z-index: 100;
}

/*Navbar items focus hover etc effect css*/
.navbar-inverse .navbar-nav>.active>a{
    background-color: white;
    color: black;
    border-color: white;
    -webkit-transition:0.9s;
}

.navbar-inverse .navbar-nav>li>a{
    background-color: white;
    color: black;
    border-color: white;
    position: relative;
    -webkit-transition:0.9s;

}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    background-color: white;
    color: black;
/*    border: none !important;*/
}

.navbar-inverse .navbar-toggle .icon-bar
{
    color: black;
}

        .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover
        {   background-color: white;
            color: black;
        }

        .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:hover {
            color: black;
            background-color: white; 
            /*border: none !important;*/
        }
        /*.nav>li:hover
        {   color: black;
            
        }*/
         /*.navbar-inverse {
            box-shadow: 0px 2px 9px black;
        }*/

       .navbar-inverse .navbar-nav>li>a:hover,.navbar-nav>li>a:focus,.navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover
        {
            cursor: pointer;
            background-color:white;
            color:black;
            /*border: none;*/
            /*border: 2px solid white !important;*/
        }

        .navbar-inverse .navbar-nav>li:hover
        {
            background-color: white;
            color:black;
            /*border: 2px solid #0b7 !important;*/
        }
        .navbar-inverse .navbar-nav>li>a
        {
            color:black;
        }

        .navbar-inverse .navbar-nav>li>a::before, .navbar-inverse .navbar-nav>li>a::after{
          width: 100%;
          height:100%;
          z-index: 3;
          content:'';
          position: absolute;
          top:0;
          left:0;
          box-sizing: border-box;
          -webkit-transform: scale(0);
          transition: 0.5s;
        }

        .navbar-inverse .navbar-nav>.active>a::before, .navbar-inverse .navbar-nav>.active>a::after {
          width: 100%;
          height:100%;
          z-index: 3;
          content:'';
          position: absolute;
          top:0;
          left:0;
          box-sizing: border-box;
          -webkit-transform: scale(0);
          transition: 0.5s;
        }
        
        .navbar-inverse .navbar-nav>li>a::before,.navbar-inverse .navbar-nav>.active>a::before {
          border-bottom: 2px solid black;
          border-left: 2px solid black;
          -webkit-transform-origin: 0% 100%;
        }

        .navbar-inverse .navbar-nav>li>a::after, .navbar-inverse .navbar-nav>.active>a::after {
          border-top: 2px solid black;
          border-right: 2px solid black;
          -webkit-transform-origin: 100% 0%;
        }

        .navbar-inverse .navbar-nav>li>a:hover::after, .navbar-inverse .navbar-nav>li>a:hover::before {
          -webkit-transform: scale(1);
        }

        .navbar-inverse .navbar-nav>.active>a:hover::after, .navbar-inverse .navbar-nav>.active>a:hover::before {
          -webkit-transform: scale(1);
        }

        ul.nav li.dropdown > .dropdown-menu{
        visibility:hidden;
        display:block;
        /*opacity:0;*/
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -o-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out;
        }
        ul.nav li.dropdown:hover > .dropdown-menu{
        visibility:visible;
        /*opacity:1;*/
        display: block;
        background: white;
        }
        .dropdown-menu.sub-menu {
            margin-left: 147px;
            margin-top: -20px;
        }

/*Dropdown menu effects*/
.navbar-nav>li>.dropdown-menu{
    width: 90%;
    margin-left: 4%;
    margin-top: 0.5%;   
    opacity: 1;
    position: absolute;
    z-index: 1000;
    top: 100%;
    height: 352px;
    box-sizing: border-box;
    box-shadow: rgba(51, 51, 51, 0.14902) 1px 1px 14px;
    /*background: url("C:/xampp/htdocs/git/Fashonation/FashoNation/images/featured/image1.jpg") 100% 0% no-repeat rgb(255, 255, 255);*/
    /*background-repeat: no-repeat;*/
    background-position: 100% 0%;
}

.dropdown-image>img{
    margin-left: 28%;
}

.nav-items i{
    margin-right: 2px;
    display: inline-block;
    text-align: center;
    font-size: 19px;
    line-height: 42px;
    width: 42px;
    height: 42px;
    color: rgb(180, 163, 118);
    box-shadow: rgba(0, 0, 0, 0.0980392) 2px 3px 5px 0px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    transition: all 0.6s ease;
}

.nav-items i:hover{

    background: rgb(51,51,51);
    transition: all 0.6s ease;
}

.boxShadow{
    box-shadow: rgb(239, 239, 239) 0px 0px 35px 2px;
}

/*.navbar-brand {
    float: none;
    height: 0px;
    padding: 5px;
    font-size: 18px;
    line-height: 20px;
    padding: 5px;
}*/