

.fa-columns:before {
  content: "\f0db"; }

  .product-container{
  	padding-top: 20px;
  	position: relative;
    padding-bottom: 20px;
    color: #777;
  }

  .product-container {
	  margin-right: auto;
	  margin-left: auto;
	  padding-left: 15px;
	  padding-right: 15px; 
  }

  .product-container:before, .product-container:after {
    content: " ";
    display: table; 
  }
  .product-container:after {
    clear: both; 
  }

  .product-container .row{
  	padding: 0;
  }

  /*Media Query for product container*/
  @media only screen and (min-width: 1200px) {
	  .product-container {
		    padding-left: 0;
		    padding-right: 0; 
	   } 
  }


  @media (min-width: 768px) {
    .product-container {
      width: 750px; 
    }

    .product-container .row col-sm-12 {
    	width: 100%;
	} 
  }

  @media (min-width: 992px) {
    .product-container {
      width: 970px; } 
  }

  @media (min-width: 1200px) {
    .product-container {
      width: 1170px; } 
  }

  /*
* @section      Homepage Tabs
*/
#home-page-tabs {
  border: none;
  background: none;
  text-align: center;
  font-size: 0;
  line-height: 0;
  padding-bottom: 16px;
  padding-top: 33px; 
  cursor: pointer;
}
  
  @media (max-width: 1199px) {
    #home-page-tabs {
      padding-top: 0;
      padding-bottom: 0; } }
   #home-page-tabs > li {
    float: none;
    display: inline-block;
    padding: 0 0 16px; }
    #home-page-tabs > li + li {
      margin-left: 60px; }
      @media (max-width: 1199px) {
        #home-page-tabs > li + li {
          margin-left: 40px; } }
      @media (max-width: 991px) {
        #home-page-tabs > li + li {
          margin-left: 20px; } }
    @media (max-width: 767px) {
      #home-page-tabs > li {
        float: none;
        width: 100%; }
        #home-page-tabs > li + li {
          margin-left: 0;
          margin-top: 10px; } }
    @media (max-width: 479px) {
      #home-page-tabs > li {
        width: 100%;
        margin: 5px 0; } }
    #home-page-tabs > li a {
      background: none;
      border: none;
      color: #444;
      display: inline-block;
      font: 700 19px/21px "Ubuntu", sans-serif;
      margin: 0;
      outline: none;
      letter-spacing: 0.5px;
      padding: 0;
      position: relative;
      text-transform: uppercase;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      #home-page-tabs > li a:before {
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        content: '';
        position: absolute;
        background: #444;
        height: 2px;
        transform: translateY(10px);
        left: 0;
        opacity: 0;
        bottom: -16px;
        width: 100%; }
      @media (max-width: 991px) {
        #home-page-tabs > li a {
          font-size: 17px; } }
      @media (max-width: 767px) {
        #home-page-tabs > li a {
          font-size: 16px;
          line-height: 1; }
          #home-page-tabs > li a:before {
            bottom: -6px; } }
  #home-page-tabs > li.active a,
  #home-page-tabs > li a:hover {
    background: none;
    color: rgb(180, 163, 118); }
    #home-page-tabs > li.active a:before,
    #home-page-tabs > li a:hover:before {
      opacity: 1;
      transform: translateY(0px); }

      /*Tab content css*/
      #columns .tab-content {
        margin-top: 35px; 
      }

      #columns .tab-content > .tab-pane {
  		display: none; 
  	  }
	  #columns .tab-content > .active {
  		display: block; 
  	  }

  	  #columns .tab-content > ul{
  	  	margin-bottom: 0;
  	  }

  	  #columns .tab-content ul,ol{
  	  	list-style: none;
  	  }

  	/*Akshar ki css*/

  	.prod .thumbnail
    {
    	border-radius: 0px;
    	text-decoration:none;
    	cursor: pointer;
    	box-shadow: 0px 0px 0px transparent;

    }
    .prod .thumbnail:hover
    {
    	box-shadow: 0px 0px 6px rgba(51, 51, 51, 0.7);
    }

    .prod .thumbnail a
    {
    	text-decoration:none;
    	overflow: hidden;
    }

    .items {
    float: right;
    /*margin-right: -88px;*/
    display: none;
	}

	/*.prod .thumbnail:hover {
    float: right;
    margin-right: 0px;
    transition: all 0.3s ease-in-out;
	}*/

	.items .glyphicon {
	    color: grey;
	    padding: 5px 5px;
	    border: 0px;
	}
	.items .glyphicon:hover {
	    color: black;
	    transition: all 0.3s ease-in-out;
	}

	.left-sidebar h2, .brands_products h2 {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
	}

	.brands-name .nav-stacked li a {
    background-color: #FFFFFF;
    color: #000;
    font-size: 14px;
    padding: 5px 25px;
    text-decoration: none;
    text-transform: uppercase;
	}

	.brands_products
	{border-bottom: 1px solid black;}
	.brands_products h2:hover
	{
		cursor: pointer;
	}

	input[type=checkbox]
	{
		background-color: transparent;
	}

    .rounded {
    border-radius: 57px;
    margin: 0px 30px;
    width: 20px;
    background-color: #000;
    }